<!-- src/app/components/team-list/team-list.component.html -->
<ion-header>
    <ion-toolbar>
      <ion-title>Lista de Equipos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let team of teams" (click)="openTeam(team)">
        {{ team.name }}
        <div class="team-list">
          <div *ngFor="let pokemon of team.pokemons; let i = index" class="pokemon-card">
            <img [src]="pokemon.image" alt="{{ pokemon.name }}" (click)="togglePokemonDetails(i)">
            <div *ngIf="expandedPokemonDetails.includes(i)" class="pokemon-details">
              <h3>{{ pokemon.name }}</h3>
              <!-- Aquí muestra más detalles como movimientos, tipos, habilidades, objetos, etc. -->
            </div>
          </div>
        </div>
        
      </ion-item>
    </ion-list>
  </ion-content>
  