<div class="team-container" *ngFor="let team of teams">
  <div class="team-header" (click)="toggleTeamDetails(team.id)">
    <ion-icon name="arrow-down-outline" class="arrow-icon"></ion-icon>
    <h3>{{ team.name }}</h3>
    <ion-row class="pokemon-row">
      <ion-col *ngFor="let pokemon of team.pokemons">
        <img [src]="pokemon.image" alt="{{ pokemon.name }} sprite" class="pokemon-image">
      </ion-col>
    </ion-row> 
  </div>
  
  <div class="pokemon-details" *ngIf="expandedPokemonDetails.includes(team.id)">
    <div class="pokemon-row" *ngFor="let pokemon of team.pokemons">
      <div class="pokemon-info">
        <h4>{{ pokemon.name }}</h4>
        <img [src]="pokemon.image" alt="{{ pokemon.name }} sprite" class="pokemon-image">
      </div>
      <div class="pokemon-types">
        <h5>Types:</h5>
        <div *ngFor="let type of pokemon.type" class="type-item">
          <img [src]="type.url" alt="{{ type.name }} icon" class="type-icon">
          <span>{{ type.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
