.pokemon-types {
    display: flex; /* Mostrar los iconos en línea */
    align-items: left; /* Alinear verticalmente los iconos */
  }
  
  .type-icon-container {
    margin-right: 5px; /* Espacio horizontal a la derecha de cada icono */
  }
  
  .type-icon {
    width: 25px; /* Tamaño 40% más pequeño que el original */
    height: 25px; /* Tamaño 40% más pequeño que el original */
  }
  

  .bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.pokemon-types {
    display: flex; /* Mostrar los iconos en línea */
    align-items: center; /* Alinear verticalmente los iconos */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
  }
  
  .type-icon-container {
    margin-right: 5px; /* Espacio horizontal a la derecha de cada icono */
  }
  
  .type-icon {
    width: 25px; /* Tamaño 40% más pequeño que el original */
    height: 25px; /* Tamaño 40% más pequeño que el original */
  }
  
  .weakness-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .weakness-category {
    text-align: center;
    width: 100%; /* Ajustar el ancho de cada categoría según diseño */
  }
  
  .weakness-row {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .weakness-factor-container {
    margin-right: 10px;
    font-size: 14px; /* Tamaño de la fuente del número de debilidad */
    font-weight: bold;
    flex: 1;
    max-width: 30px;
  }
  
  .weakness-factor{
    margin-right:auto;
    flex: 1;
  }

  .type-icons-container {
    display: flex;
    align-items: center;
  }
  
  .weakness-icon-container {
    margin-right: 5px; /* Espacio horizontal a la derecha de cada icono */
  }
  
  .type-icon {
    width: 25px; /* Tamaño 40% más pequeño que el original */
    height: 25px; /* Tamaño 40% más pequeño que el original */
  }
  
  
  
  
  
  